<template>
  <v-container fluid class="helpOverlay text-center">
    <v-row>
      <v-col>
        <h1>Museums table view</h1>
      </v-col>
    </v-row>

    <v-row>
      <v-col>

      </v-col>
      <v-col cols="8">
        <div class="text-left mb-5">
          All museums in the system are listed here. You can use the search
          bar to filter through them by any field, even the ones not listed in the table!
        </div>

        <div class="text-left mb-5">
          Use the green <v-icon style="background-color: green;">mdi-plus</v-icon> button in the upper right corner
          to add a new museum.
        </div>

        <div class="text-left mb-5">
          Click on one of the table rows to edit an existing museum.
        </div>

        <div class="text-left mb-5">
          Use the orange <v-icon style="background-color: orange;">mdi-map</v-icon> button
          in the upper left corner to go back to the world map.
        </div>
      </v-col>
      <v-col>

      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <v-btn color="primary" @click="$emit('okClick')">OK</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: 'SciHelpTable',

  computed: {
    ...mapGetters({
      modeIcon: "options/getModeIcon"
    })
  }
}
</script>
