<template>
    <l-marker
        ref="marker" 
        :lat-lng.sync="latLng"
        @dblclick="emitFocused" 
        @move="updateLatLng"
        @moveend="emitMoved"
        @click="emitClicked"
        :draggable="draggable"
        :autopan="autopan"
        >
        
        <l-icon :icon-anchor="[30, 60]">
            <img class="musMarkerPin" src="./musMarker.png" width="60" height="60">
            <img v-if="museum.image" class="musMarkerAvatar" :src="'http://localhost:4200' + museum.image" width="50" height="50">
            <img v-else class="musMarkerAvatar" src="./avatar.png" width="50" height="50">
            <div class="musLabelBG"></div>
            <div class="musLabelTxt">{{shortName}}</div>
        </l-icon>
        
    </l-marker>
</template>

<script>
import { LMarker, LIcon } from 'vue2-leaflet';
export default {
    name: "MusMapMarker",

    props: ["value", "arrIndex", "draggable", "autopan"],

    components: {
        LMarker,
        LIcon
    },

    data () {
        return {
            museum: this.value,
            latLng: {
                lat: this.value.lat,
                lng: this.value.lng 
            }
        };
    },

    computed: {
        shortName() {
            let short = "";
            let words = this.museum.name.split(" ");
            if (words.length == 1) {
                for (let i = 0; i < words[0].length; i++) {
                    short += words[0][i];
                    if (short.length == 4) break;
                }
            } else {
                for(let word of words) {
                    short += word[0];
                }
            }
            return short;
        }
    },

    methods: {
        emitEdit() {
            // museum array index is used to properly 
            // update edit dialog fields next time it is opened
            this.$emit('edit', this.arrIndex);
        },

        updateLatLng(e) {
            this.museum.lat = e.latlng.lat;
            this.museum.lng = e.latlng.lng;
            // v-model needs input to fire off
            this.$emit('input', this.museum);
        },

        emitMoved() {
            // moved is for updating the museum in the db
            this.$emit('moved', this.museum);
        },

        emitFocused() {
            this.$emit('focused', this.arrIndex);
        },

        emitClicked() {
            this.$emit('click', this.museum)
        }
    }

}
</script>

<style>
.musMarkerPin {
    position: absolute;
    z-index: 500;
}

.musMarkerAvatar {
    position: absolute;
    left: 5px;
    top: -12px;
    border-radius: 50%;
    z-index: 501;
}

.musLabelBG {
    position: absolute;
    width: 35px;
    height: 20px;
    left: 13px;
    top: 30px;
    border-radius: 30%;
    background-color: white;
    z-index: 502;
}

.musLabelTxt {
    position: absolute;
    height: 20px;
    left: 15px;
    top: 30px;
    z-index: 503;
}
</style>