<template>
    <v-card>
        <v-card-title v-if="type === 'add'">Add scientist</v-card-title>
        <v-card-title v-if="type === 'edit'">Edit scientist</v-card-title>
        <v-card-text>
            <v-dialog v-model="invDialog" fullscreen transition="scale-transition" origin="bottom left">
                <InventionsForm v-model="value.inventions" @close="invDialog = false" @delete="deleteInvention"/>
            </v-dialog>
            <v-form ref="form" v-model="formValid">
                <v-container>
                    <v-row align="center">
                        <v-col cols="2" class="text-center">
                            <v-avatar v-if="previewImg || value.image" size="70" @click="$refs.inputUpload.click()">
                                <v-img v-if="previewImg" :src="previewImg"></v-img>
                                <v-img v-if="value.image" :src="'http://localhost:4200' + value.image"></v-img>
                            </v-avatar>

                            <v-avatar v-else size="70" color="red" @click="$refs.inputUpload.click()">
                                <span class="white--text headline">{{value.label}}</span>
                            </v-avatar>
                            <input v-show="false" ref="inputUpload" type="file" accept="image/*" name="image" @change="onFileChange">
                        </v-col>
                        <v-col cols="2">
                            <v-text-field :rules="labelRules" @input="handleInput" label="Label" v-model="value.label"></v-text-field>
                        </v-col>
                        <v-col cols="4">
                            <v-text-field :rules="nameRules" @input="handleInput" label="Name" v-model="value.firstName"></v-text-field>
                        </v-col>
                        <v-col cols="4">
                            <v-text-field :rules="nameRules" @input="handleInput" label="Surname" v-model="value.lastName"></v-text-field>
                        </v-col>
                    </v-row>

                    <v-row align="center">
                        <v-col>
                            <v-autocomplete 
                                @input="handleInput" 
                                label="Birthplace" 
                                v-model="teleportPlace"
                                :placeholder="value.placeOfBirth"
                                :items="placeSuggestions"
                                item-text="matching_full_name"
                                return-object
                                @keyup="getPlaceSuggestions"
                                :search-input.sync="placeSearch"
                                hide-no-data
                                auto-select-first
                                allow-overflow
                            ></v-autocomplete>
                        </v-col>
                        <v-col cols="3">
                            <v-text-field :rules="nameRules" @input="handleInput" label="Nationality" v-model="value.nationality"></v-text-field>
                        </v-col>
                        <v-col cols="2">
                            <v-text-field :rules="[ yearRulesRequired ]" @input="handleInput" label="Birth year" v-model="value.yearOfBirth"></v-text-field>
                        </v-col>
                        <v-col cols="2">
                            <v-text-field :rules="[ yearRules ]" @input="handleInput" label="Death year" v-model="value.yearOfDeath"></v-text-field>
                        </v-col>
                    </v-row>

                    <v-row align="center">
                        <v-col cols="4">
                            <v-btn color="amber" min-width="100%" @click="invDialog = true">Inventions</v-btn>
                        </v-col>
                        <v-col cols="6">
                            <v-text-field :rules="nameRules" @input="handleInput" label="Science" v-model="value.science"></v-text-field>
                        </v-col>
                        <v-col cols="2">
                            <v-checkbox @input="handleInput" label="Nobel" v-model="value.nobelPrize"></v-checkbox>
                        </v-col>
                    </v-row>

                    <v-row v-if="type === 'add'">
                        <v-col>
                        </v-col>
                        <v-col></v-col>
                        <v-col>
                            <v-btn v-if="formValid" color="success" min-width="100%" @click="emitAdd()">Add</v-btn>
                            <v-btn v-else disabled min-width="100%">Add</v-btn>
                        </v-col>
                        <v-col>
                        <v-btn color="error" min-width="100%" @click="emitCancel()">Cancel</v-btn>
                        </v-col>  
                    </v-row>

                    <v-row v-if="type === 'edit'">
                        <v-col>
                        </v-col>
                        <v-col>
                            <v-dialog v-model="deleteDialog" width="50%">
                                <template v-slot:activator="{ on }">
                                    <v-btn color="red" min-width="100%" v-on="on">Delete</v-btn>
                                </template>
                                <v-card>
                                    <v-card-title>
                                        Delete {{value.firstName}} {{value.lastName}}?
                                    </v-card-title>
                                    <v-card-actions class="text-center">
                                        <v-container>
                                            <v-row>
                                                <v-col>
                                                    <v-btn large color="red" @click="emitDelete()">Delete</v-btn>
                                                </v-col>
                                                <v-col>
                                                    <v-btn large color="grey" @click="deleteDialog = false">Cancel</v-btn>
                                                </v-col>
                                            </v-row>
                                        </v-container>
                                        
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                            
                        </v-col>
                        <v-col>
                            <v-btn v-if="formValid" color="success" min-width="100%" @click="emitSave()">Save</v-btn>
                        </v-col>
                        <v-col>
                            <v-btn color="error" min-width="100%" @click="emitCancel()">Cancel</v-btn>
                        </v-col>  
                    </v-row>
                </v-container>
            </v-form>
        </v-card-text>
    </v-card>
</template>

<script>
import InventionsForm from "./InventionsForm";
import Vue from "vue";
export default {
    name: 'ScientistForm',

    components: {
        InventionsForm
    },

    props: ['type', 'value'],

    data() {
        return {
            previewImg: null,
            deleteDialog: false,
            invDialog: false,
            formValid: false,
            nameRules: [
                v => !!v || 'Required',
                v => /^[a-zA-zŠšĐđŽžČčĆć ]+$/.test(v) || 'Letters only'
            ],
            labelRules: [
                v => !!v || 'Required',
                v => (v.length > 0 && v.length < 5) || 'Max 4 characters'
            ],
            placeSuggestions: [],
            placeSearch: null,
            teleportPlace: null
        }
    },

    watch: {
        async teleportPlace() {
            // Get lat and lng for selected city
            const { data } = await Vue.$axios.get(this.teleportPlace._links["city:item"].href);
            this.value.placeOfBirth = data.name;
            this.value.POBLat = data.location.latlon.latitude;
            this.value.POBLng = data.location.latlon.longitude;
        }
    },

    methods: {
        onFileChange(e) {
            const file = e.target.files[0];
            this.previewImg = URL.createObjectURL(file);
            this.value.imgToUpload = file;
            this.handleInput();
            this.value.image = null;
        },

        async getPlaceSuggestions() {
            const { data } = await Vue.$axios.get(`https://api.teleport.org/api/cities/?search=${this.placeSearch}`);
            this.placeSuggestions = data["_embedded"]["city:search-results"];
        },

        yearRules(v) {
            if (v == null) return true;
            if (!/^[0-9]+$/.test(v)) return 'Numbers only';
            if (parseInt(this.value.yearOfBirth) > parseInt(this.value.yearOfDeath)) {
                return 'Birth must precede death';
            }
            return true;
        },

        yearRulesRequired(v) {
            if (!v) return 'Required';
            return this.yearRules(v);
        },

        handleInput () {
            this.$emit('input', this.value);
        },

        emitAdd() {
            if (this.formValid) {
                this.$emit('add');
            }
            this.previewImg = null;
        },

        emitDelete() {
            this.deleteDialog = false;
            this.$emit('delete');
            this.previewImg = null;
        },

        emitCancel() {
            this.$emit('cancel');
            this.handleInput();
            this.previewImg = null;
        },

        emitSave() {
            if (this.formValid) {
                this.$emit('save');
            }
            this.previewImg = null;
        },

        deleteInvention(id) {
            const i = this.value.inventions.find(e => e.id === id);
            this.value.inventions.splice(i, 1);
        }
    }
}
</script>

<style>
</style>
