<template>
  <v-container fluid class="helpOverlay text-center">
    <v-row>
      <v-col>
        <h1>Welcome to SciMap!</h1>
      </v-col>
    </v-row>

    <v-row>
      <v-col>

      </v-col>
      <v-col cols="5">
        <div class="text-left mb-10">
          There are three map modes:
          <li>
            <span style="color: red;">Scientists</span> and <span style="color: yellow;">Museums</span>
            <v-icon>mdi-close</v-icon>
          </li>
          <li>
            <span style="color: red;">Scientists</span> only
            <v-icon>mdi-account</v-icon>
          </li>
          <li>
            <span style="color: yellow;">Museums</span> only
            <v-icon>mdi-bank</v-icon>
          </li>
        </div>
        <div class="text-justify">
          Toggle between these modes using the mode toggle button
          in the upper left corner
          (
            currently
            <v-icon>{{modeIcon}}</v-icon>
          ).
        </div>
      </v-col>
      <v-col>

      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <v-btn color="primary" @click="$emit('okClick')">OK</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: 'SciHelpMap',

  computed: {
    ...mapGetters({
      modeIcon: "options/getModeIcon"
    })
  }
}
</script>
