<template>
  <div>
    <div v-for="btn in buttons" :key="btn.text">
      <v-btn v-if="btn === 'modeToggle'" @click="modeToggle()" min-width="0" :color="modeColor">
        <v-icon>{{modeIcon}}</v-icon>
      </v-btn>
      
      <v-btn v-if="btn.to" :to="btn.to" min-width="0" :color="btn.color">
        <v-icon>{{btn.icon}}</v-icon>
      </v-btn>
      
      <v-btn v-if="btn.click" min-width="0" @click="btn.click" :color="btn.color">
        <v-icon>{{btn.icon}}</v-icon>
      </v-btn>
      <v-spacer class="pt-2"/>
    </div>
  </div>
</template>

<script>
// Accepts list of buttons in format:
/*
{
  icon: mdi icon string,
  color: icon color string,
  to: vue router link to go to when clicked,
  click: function to call when clicked

}
  NOTE: If 'modeToggle' is passed instead, the button to toggle store.options.mode is rendered
*/
import { mapMutations, mapGetters } from "vuex";

export default {
  name: 'SideBar',

  methods: {
    ...mapMutations({
      modeToggle: "options/toggleMode"
    })
  },

  computed: {
    ...mapGetters({
      modeIcon: "options/getModeIcon",
      modeColor: "options/getModeColor",
      buttons: "sidebar/getButtons"
    })
  }
}
</script>

<style>
</style>
